@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Martian+Mono:wght@500&family=Roboto+Mono:wght@300&display=swap');
:root {
  --font-family: 'Manrope', sans-serif;
  --font-nav: 'Martian Mono', sans-serif;
  --font-header: 'Roboto Mono', monospace;


  --gradient-text: #000;
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #eeedee;
  --color-footer : #D3D3D3;
  --color-blog: #042c54;
  --color-text: #000;
  --color-subtext: #9E9E9E;
}
